<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="https://*.supabase.co" />
  <access origin="https://*.supabase.in" />
  <access origin="https://maakapp.se" />
  <access origin="https://määkapp.se" />
  <access origin="file://*" />
  
  
</widget>